@use '../../../../styles/components/buttons' as *;
@use '../../../../styles/abstracts/variables' as *;
.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px 25px 100px;
    
    height: 110px;
    margin: 0 auto;
    color: white;
    max-width: 1440px;
    background-color: $background;
    z-index: 1000;
    
  .mario {
  font-size: 35px;
        letter-spacing: 0.05em;
        font-weight: 900;
        width: 100px;

  .o {
    background: linear-gradient(to right, white 50%, $btn-background 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .i {
    position: relative;

    .dot {
      position: absolute;
      width: 6.6px;
      height: 5px;
      background: $secondary-color;
      top: 13.3px;   
      left: 6px;
      transform: translateX(-50%);
    }
  }
}
    .nav{
        display: flex;
        gap: 100px;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.03em;
        
        .nav-link{
            display: flex;
            gap: 30px;
        }
        
        a{
            position: relative;
            color: $primary-color;
            text-decoration: none; 
            font-size: 23px; 
            font-style: regular;
            transition: color 0.3s ease;
            font-weight: 500;
            padding: auto;

            &:hover{
                color: $hover-color; 
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 0;
                height: 3px;
                background-color: $secondary-color;
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 100%;
            }

              &:hover::after {
                width: 100%;
            }

             &:last-child:hover::after {
                width: 100%;
            }
            &:nth-child(2):hover::after {
                width: 50%;
            }
        }
    }

    .language-section{
        display: flex;
        gap: 10px;

}
}