<header>
  <nav class="header">
    <p class="mario">
      Mar<span class="i">i<span class="dot"></span></span><span class="o">o</span>
    </p>
    <div class="nav">
      <div class="nav-link">
        <a (click)="scrollTo('about-me')">{{ 'HEADER.ABOUT_ME' | translate }}</a>
        <a (click)="scrollTo('my-skills')">{{ 'HEADER.SKILLS' | translate }}</a> 
        <a (click)="scrollTo('portfolio')">{{ 'HEADER.PORTFOLIO' | translate }}</a>
      </div>
      <div class="language-section">
        <button 
          class="language-button" 
          [class.active]="currentLang === 'DE'" 
          (click)="setLanguage('DE')">
          DE
        </button>
        <button 
          class="language-button" 
          [class.active]="currentLang === 'EN'" 
          (click)="setLanguage('EN')">
          EN
        </button>
      </div>
    </div>
  </nav>
</header>