@use '/portfolio/src/styles/abstracts/variables';
.language-button{
    background-color: transparent;
    height: 32px;
    width: 32px;
    border: 2px solid $border-color;
    color: $primary-color;
    
}