@use '../abstracts/variables' as *;

.language-button{
    background-color: transparent;
    height: 32px;
    width: 38px;
    border: 1px solid $border-color;
    color: $primary-color;
    border-radius: 10px;
    padding: 0;
    font-size: 16px;
    
    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: $primary-color;
      
    }

    &.active {
      background-color: $hover-color;
      border-color: $hover-color;
      color: $primary-color;
      font-weight: 600;
    }
  }

.hero-button {
 
  z-index: 999;
  background-color: $btn-background;
  height: 58px;
  width: 165px;
  border: 1px solid $border-color;
  color: $primary-color;
  border-radius: 10px;
  padding: 0;
  font-size: 23px;
  margin-right: 100px;
  transform: scale(1);
  transition: 0.2s ease;

  &:hover {
    width: 190px;
    height: 70px;
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $primary-color;
  }
}