@use '../../../../styles/components/buttons' as *;
@use '../../../../styles/abstracts/variables' as *;

:host {
  display: block;
  overflow: visible;
  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  background-color: $border-color;
}

.footer-left {
  position: absolute;
  left: -480px;
  bottom: 0;
  z-index: -1;

    img {
        width: 80%;
    }
}

footer {
  display: flex;
  width: 100%;
  height: 290px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: $background;

  .footer-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;

    .footer-name-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      

      .mario {
        font-size: 35px;
        letter-spacing: 0.05em;
        font-weight: 900;
        width: 100px;

        .o {
          background: linear-gradient(to right, white 50%, $btn-background 50%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .i {
          position: relative;

          .dot {
            position: absolute;
            width: 6.6px;
            height: 5px;
            background: $secondary-color;
            top: 13.3px;
            left: 6px;
            transform: translateX(-50%);
          }
        }
      }

      a {
        font-size: 12px;
        text-decoration: none;
        color: $primary-color;
      }
    }

    .footer-text {
      font-size: 23px;
    }

    .footer-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      .icons {
        display: flex;
        gap: 30px;
      }

      a {
        display: inline-flex;
        transition: transform 0.3s ease, padding-right 0.3s ease;
        transform-origin: left center;

        &:hover {
          transform: scale(1.3);
          padding-right: 7px;
        }
      }
    }
  }
}
