@use '../../../../styles/components/buttons' as *;
@use '../../../../styles/abstracts/variables' as *;

section {
    max-width: 1440px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;

    .contact-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;


        .line {
            width: 500px;
            height: 4px;
            background-color: $secondary-color;
            margin-right: 20px;
        }

        h2 {
            font-size: 90px;
            font-weight: 700;
            font-style: bold;

        }
    }

    .contact-content {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
        gap: 70px;

        .contact-text {
            margin-top: 10px;
            width: 480px;
            display: flex;
            flex-direction: column;
            gap: 20px;


            h4 {
                font-size: 32px;
                font-weight: 700;
                font-style: normal;

            }

            p {
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                line-height: 1.5;

            }

            span {
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                line-height: 1.5;
                color: $primary-color;

            }
        }

        .form-box {
            width: 620px;
            height: 510px;

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;


                input,
                textarea {
                    background-color: transparent;
                    width: 620px;
                    height: 50px;
                    padding: 15px 25px 15px 25px;
                    border: 1px solid $secondary-color;
                    border-radius: 10px;
                    color: $primary-color;
                    font-size: 16px;
                    color: $primary-color;
                    cursor: pointer;

                    &::placeholder {
                        color: $primary-color;
                    }

                    &:hover {
                        border-color: $border-color;
                    }

                    &:focus {
                        outline: none;
                        border-color: $warnning-color;
                    }
                }

                textarea {
                    height: 200px;
                }



                .checkbox-content {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .custom-checkbox {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;

                        input {
                            display: none;
                        }

                        .box {
                            width: 18px;
                            height: 18px;
                            min-width: 18px;
                            border: 2px solid $border-color;
                            background: transparent;
                            display: inline-block;
                            position: relative;
                            border-radius: 4px;
                        }

                        input:checked+.box::after {
                            content: "";
                            position: absolute;
                            left: 4px;
                            top: 0px;
                            width: 5px;
                            height: 10px;
                            border: solid $border-color;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }

                        &:hover .box {
                            filter: drop-shadow(0px 0px 4px rgba(121, 126, 243, 1));
                            border-color: darken($border-color, 10%);
                        }
                    }
                }

                button {
                    width: 150px;
                    height: 50px;
                    background-color: $btn-background;
                    border: none;
                    border-radius: 10px;
                    color: $primary-color;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    cursor: pointer;

                    &:hover {
                        background-color: $hover-color;
                    }
                }

            }

        }
    }
}