@use '../../../../styles/components/buttons' as *;
@use '../../../../styles/abstracts/variables' as *;

section {
    max-width: 1440px;
    width: 100%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    margin-bottom: 100px;
    position: relative;

    .footer-left {
      position: absolute;
      left: -550px;
      top: 100px;
      z-index: -1;
      
      img {
        object-position: top;
      }
    }

    .contact-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;


        .line {
            width: 520px;
            height: 4px;
            background-color: $secondary-color;
            margin-right: 20px;
        }

        h2 {
            font-size: 90px;
            font-weight: 700;
            font-style: bold;

        }
    }

    .contact-content {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
        gap: 70px;

        .contact-text {
            margin-top: 10px;
            width: 480px;
            display: flex;
            flex-direction: column;
            gap: 20px;


            h4 {
                font-size: 32px;
                font-weight: 700;
                font-style: normal;

            }

            p {
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                line-height: 1.5;

            }

            span {
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                line-height: 1.5;
                color: $primary-color;

            }
        }

        .form-box {
            width: 620px;
            height: 510px;

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                .input-group {
                    width: 620px;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .error-icon {
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        width: 24px;
                        height: 24px;
                        background-color: $warnning-color;
                        border-radius: 50%;
                        color: white;
                        font-size: 14px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: opacity 0.6s ease;

                        &.visible {
                            opacity: 1;
                        }

                        &.textarea-icon {
                            top: 12px;
                        }
                    }

                    .success-icon {
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        width: 24px;
                        height: 24px;
                        background-color: $border-color;
                        border-radius: 50%;
                        color: white;
                        font-size: 14px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: opacity 0.6s ease;

                        &.visible {
                            opacity: 1;
                        }

                        &.textarea-icon {
                            top: 12px;
                        }
                    }

                    .error-msg {
                        color: $warnning-color;
                        font-size: 14px;
                        margin-top: 10px;
                        opacity: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: opacity 0.6s ease, max-height 0.6s ease;

                        &.visible {
                            opacity: 1;
                            max-height: 30px;
                        }
                    }
                }

                input,
                textarea {
                    background-color: transparent;
                    width: 620px;
                    height: 50px;
                    padding: 15px 25px 15px 30px;
                    border: 1px solid $secondary-color;
                    border-radius: 10px;
                    color: $primary-color;
                    font-family: inherit;
                    font-size: 16px;
                    cursor: pointer;

                    &::placeholder {
                        font-family: inherit;
                        font-size: 16px;
                        color: $primary-color;
                        opacity: 0.7;
                    }

                    &:hover {
                        border-color: $border-color;
                    }

                    &:focus {
                        outline: none;
                        border-color: $warnning-color;
                    }

                    &.invalid {
                        border-color: $warnning-color;
                    }

                    &.valid {
                        border-color: $border-color;
                    }
                }

                textarea {
                    height: 200px;
                }



                .checkbox-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;

                    .custom-checkbox {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;

                        a{
                            text-decoration: none;
                        }

                        input {
                            display: none;
                        }

                        .box {
                            width: 18px;
                            height: 18px;
                            min-width: 18px;
                            border: 2px solid $border-color;
                            background: transparent;
                            display: inline-block;
                            position: relative;
                            border-radius: 4px;
                        }

                        input:checked+.box::after {
                            content: "";
                            position: absolute;
                            left: 4px;
                            top: 0px;
                            width: 5px;
                            height: 10px;
                            border: solid $border-color;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                            background: transparent;
                        }

                        &:hover .box {
                            filter: drop-shadow(0px 0px 4px rgba(121, 126, 243, 1));
                            border-color: lighten($border-color, 10%);
                        }
                    }

                    .error-msg {
                        color: $warnning-color;
                        font-size: 14px;
                        margin-top: 5px;
                        opacity: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: opacity 0.6s ease, max-height 0.6s ease;

                        &.visible {
                            opacity: 1;
                            max-height: 30px;
                        }
                    }
                }

                button {
                    width: 150px;
                    height: 50px;
                    background-color: $btn-background;
                    border: none;
                    border-radius: 10px;
                    color: $primary-color;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    cursor: pointer;

                    &:hover:not(:disabled) {
                        background-color: $hover-color;
                    }

                    &:disabled {
                        opacity: 0.4;
                        cursor: not-allowed;
                    }
                }

            }

        }
    }
}