
<article id="about-me">

    <div class="about-me-content">
    
        <div >
            <h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>
        </div>
        <div class="about-me-info">
            <div
            ><p>
                {{ 'ABOUT_ME.DESCRIPTION' | translate }}
            </p>
           </div>
            <div class="about-me-info-section">
                <img src="img/icons/Location.svg" alt="Location">
                <span>{{ 'ABOUT_ME.LOCATION' | translate }}</span>
            </div>
            <div class="about-me-info-section"><img src="img/icons/bulb.svg" alt="">
                <span>{{ 'ABOUT_ME.MINDSET' | translate }}</span>

                </div>
            <div class="about-me-info-section"><img src="img/icons/puzzle.svg" alt="">
                <span>{{ 'ABOUT_ME.PROBLEM_SOLVING' | translate }}
</span>
                </div>
        </div>
    </div>


    <div class="about-me-image">
        <div class="image-self"><img src="img/self/mario.png" alt=""></div>
        
        <div class="line"></div>
    </div>

    

</article>