
<article>
    <div>
        <div>
            <h2>About Me</h2>
        </div>
        <div>
            <div
            ><p>
                Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?
            </p>
           </div>
            <div>
                <img src="img/icons/Location.svg" alt="Location">
                <span>Where are you located? Are you open to different ways of working, such as working remotely or even relocating?</span>
            </div>
            <div><img src="img/icons/bulb.svg" alt="">
                <span>Where are you located? Are you open to different ways of working, such as working remotely or even relocating?</span>
            </div>
            <div><img src="img/icons/puzzle.svg" alt="">
                <span>Where are you located? Are you open to different ways of working, such as working remotely or even relocating?</span>
            </div>
        </div>
    </div>


    <div>
        <img src="" alt="">
        <div></div>
    </div>
</article>