$background: rgba(20, 29, 47, 1);
$primary-color: white;
$secondary-color: rgba(151, 71, 255, 1);
$hover-color:  rgba(112, 230, 28, 1);
$border-color: rgba(112, 230, 28, 1);
$btn-background: rgba(112, 230, 28, 1);
$warnning-color: rgba(230, 28, 64, 1)