@use '../../../styles/components/buttons' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.privacy {
  @include flex-center(column);
  max-width: 1440px;
  margin: 200px auto;
}

.content {
  @include flex-layout(column, flex-start, flex-start, 20px);
  width: 100%;
  padding: 0 200px;
}

.header {
  @include flex-layout(row, flex-end, center, 20px);
  margin-bottom: 70px;
  width: 100%;
}

.small-line {
  height: 4px;
  width: 100px;
  background-color: $secondary-color;
  @include flex-center;
}

.big-line {
  height: 4px;
  width: 300px;
  background-color: $secondary-color;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  color: $border-color;
}

h2 {
  margin-top: 30px;
  font-size: 20px;
  color: $secondary-color;
}

p {
  margin-top: 10px;
  line-height: 1.6;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: disc;

  li {
    margin-bottom: 5px;
    line-height: 1.6;
  }
}

@include respond-to(830px) {
  .privacy {
    margin: 120px auto;
  }

  .content {
    width: 100%;
    padding: 0;
    align-items: start;
    text-align: start;
    gap: 16px;
    padding: 0 25px;
  }

  .header {
    gap: 12px;
    margin-bottom: 30px;
  }

  .small-line {
    display: none;
  }

  .big-line {
    width: 100%;
    max-width: 200px;
  }

  h2 {
    font-size: 23px;
  }

  p,
  ul,
  li,
  a {
    font-size: 16px;
  }

  ul {
    padding-left: 0;
    list-style-position: inside;
  }
}

@include respond-to(600px) {
  .big-line {
    max-width: 71px;
    width: 100%;
  }

  h1 {
    font-size: 32px;
    line-height: 120%;
  }

  h2 {
    font-size: 23px;
    text-align: start;
  }

  p,
  ul,
  li,
  a {
    font-size: 16px;
  }
}