<section class="privacy">
  <div class="container">
    <div class="header">
    <div class="small-line"></div>
    <h1>{{ 'PRIVACY.TITLE' | translate }}</h1>
    <div class="big-line"></div>
    </div>
   
    <div class="content">
    <h2>{{ 'PRIVACY.GENERAL_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.GENERAL_TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.RESPONSIBLE_TITLE' | translate }}</h2>
    <p [innerHTML]="'PRIVACY.RESPONSIBLE_TEXT' | translate"></p>

    <h2>{{ 'PRIVACY.LOGFILES_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.LOGFILES_TEXT' | translate }}</p>
    <ul>
      <li>{{ 'PRIVACY.LOGFILES_BROWSER' | translate }}</li>
      <li>{{ 'PRIVACY.LOGFILES_OS' | translate }}</li>
      <li>{{ 'PRIVACY.LOGFILES_REFERRER' | translate }}</li>
      <li>{{ 'PRIVACY.LOGFILES_HOST' | translate }}</li>
      <li>{{ 'PRIVACY.LOGFILES_TIME' | translate }}</li>
      <li>{{ 'PRIVACY.LOGFILES_IP' | translate }}</li>
    </ul>

    <h2>{{ 'PRIVACY.CONTACT_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.CONTACT_TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.THIRD_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.THIRD_TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.RIGHTS_TITLE' | translate }}</h2>
    <ul>
      <li>{{ 'PRIVACY.RIGHTS_INFO' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHTS_CORRECT' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHTS_DELETE' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHTS_RESTRICT' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHTS_OBJECT' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHTS_PORT' | translate }}</li>
    </ul>

    <h2>{{ 'PRIVACY.HOSTING_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.HOSTING_TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.SSL_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SSL_TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.DATE_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.DATE_TEXT' | translate }}</p>
  </div>
  </div>
</section>