<section class="privacy">
  <div class="container">
    <div class="header">
    <div class="small-line"></div>
    <h1>Datenschutzerklärung</h1>
    <div class="big-line"></div>
    </div>
   
    <div class="content">
    <h2>1. Allgemeine Hinweise</h2>
    <p>
      Der Schutz Ihrer persönlichen Daten ist mir wichtig. Diese Website verarbeitet personenbezogene Daten ausschließlich im Rahmen der gesetzlichen Bestimmungen (DSGVO).
    </p>

    <h2>2. Verantwortlicher</h2>
    <p>
      Mario Ramirez<br>
      Im Torfmoss 27<br>
      E-Mail: mario-ramirez@hotmail.de
    </p>

    <h2>3. Zugriffsdaten (Server-Logfiles)</h2>
    <p>
      Der Hosting-Provider dieser Website erhebt und speichert automatisch Informationen in sogenannten Server-Logfiles, die Ihr Browser automatisch übermittelt.
    </p>
    <ul>
      <li>Browsertyp und Browserversion</li>
      <li>verwendetes Betriebssystem</li>
      <li>Referrer URL</li>
      <li>Hostname des zugreifenden Rechners</li>
      <li>Uhrzeit der Serveranfrage</li>
      <li>IP-Adresse</li>
    </ul>

    <h2>4. Kontaktformular</h2>
    <p>
      Wenn Sie mir per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben zwecks Bearbeitung gespeichert.
    </p>

    <h2>5. Drittanbieter</h2>
    <p>
      Diese Website kann Inhalte von Drittanbietern wie GitHub oder LinkedIn einbinden.
    </p>

    <h2>6. Ihre Rechte</h2>
    <ul>
      <li>Auskunft</li>
      <li>Berichtigung</li>
      <li>Löschung</li>
      <li>Einschränkung der Verarbeitung</li>
      <li>Widerspruch</li>
      <li>Datenübertragbarkeit</li>
    </ul>

    <h2>7. Hosting</h2>
    <p>
      Diese Website wird bei einem externen Dienstleister gehostet.
    </p>

    <h2>8. SSL / TLS</h2>
    <p>
      Diese Seite nutzt eine SSL- bzw. TLS-Verschlüsselung.
    </p>

    <h2>9. Aktualität</h2>
    <p>
      Stand: April 2026
    </p>
  </div>
  </div>
</section>