<section id="portfolio" class="portfolio">
    <div class="portfolio-header">
        <div class="head">
        <div class="small-line"></div>
        <h2>{{ 'PORTFOLIO.TITLE' | translate }}</h2>
        <div class="big-line"></div>
    </div>
    </div>
     <div class="p-tag">    
        <p>{{ 'PORTFOLIO.DESCRIPTION' | translate }}</p>
    </div>
    <div class="portfolio-background">
        <img src="img/backgrounds/shadow-portfolio.svg" alt="portfolio-background">
    </div>
    
    <div class="portfolio-content">@for (project of projects; track $index) {
    <div class="project-content" [class.reverse]="$index % 2 !== 0">
        <div class="project-image">
            <img class="image" src="{{project.image}}" alt="">
        </div>
        <div>
            <div class="project-info">
                <h3>{{project.projectName}}</h3>
                <span>{{project.technologies.join(' | ')}}</span>
                <p>{{project.discription}}</p>
                <div class="portfolio-buttons">
                <a href="{{project.link}}" target="_blank" class="live-test-button">{{ 'PORTFOLIO.LIVE_TEST' | translate }}</a>
                <a href="{{project.github}}" target="_blank" class="github-button">{{ 'PORTFOLIO.GITHUB' | translate }}</a>
            </div>
            </div>
            
        </div>
    </div>
}</div>

    
</section>
