<section class="hero">
  
   <div class="hero-content">

    <div class="hero-left">
    <div class="hero-image-stck">
     <img  src="/img/backgrounds/photoshadows.svg" alt="">
    </div>
    </div>

    <div class="hero-right">
        <div class="rotation">
            <span>I am</span>
        </div>
        <div class="hero-text">
            <h1>Mario Ramirez</h1>
            <h2>FULLSTACK DEVELOPER</h2>
            <button class="hero-button">let's talk</button>
        </div>
    </div>

    </div>
   
</section>
