@use '../../../../styles/abstracts/variables' as *;

.hero {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 170px;
  margin-bottom: 500px;
  

  .hero-content {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    .hero-left {
      display: flex;
      align-items: flex-start;
    
      .hero-image-stck img {
        width: 690px;
        height: 670px;
      }
    }

    .hero-right {
      display: block;
      position: relative;
      line-height: 70px;
      top: 150px;

      .rotation {
        margin-top: 42px;
        position: absolute;
        font-size: 64px;
        font-weight: 400;
        letter-spacing: 0.05em;
        transform-origin: 0 90px;
        transform: rotate(-90deg);
      }

      .hero-text {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h1 {
          font-size: 90px;
          font-weight: 700;
          font-style: normal;
        }

        h2 {
          font-size: 50.5px;
          font-weight: 400;
          white-space: nowrap;
          color: $secondary-color;
          line-height: 120%;
          margin-bottom: 40px;
        }
      }
    }
  }

  .hero-background{
    position: absolute;
    height: 100%;
    overflow: visible;
    top: 350px;
  }

  .hero-bottom {
   position: absolute;
   top: 800px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    


   
   
 
  
  .hero-icons {
   
   display: flex;
   gap: 30px;
   align-items: center;
   justify-content: flex-start;
  
  
    .hero-line {
      width: 100px;
      height: 4px;
      border-radius:0 4px 4px 0px;
      background-color: $secondary-color;
    }

    .icons {
    display: flex;
    gap: 20px;
      
    }

    p {
      font-size: 23px;
      font-weight: 400;
       }
    }
    .scroll-down{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding-right: 50px;
        padding-bottom: 90px;


        p{
        font-size:23px;
        font-weight: 400;
        transform: rotate(90deg);
        }
    }
  }
}
