<section class="hero">
  <div class="hero-content">
    <div class="hero-left">
      <div class="hero-image-stck">
        <img src="/img/backgrounds/photoshadows.svg" alt="" />
      </div>
    </div>
    <div class="hero-right">
      <div class="rotation">
        <span>I am</span>
      </div>
      <div class="hero-text">
        <h1>Mario Ramirez</h1>
        <h2>FULLSTACK DEVELOPER</h2>
        <button class="hero-button">let's talk</button>
      </div>
    </div>
  </div>
  <div class="hero-background">
    <img src="img/backgrounds/Hero-Background.svg" alt="">
  </div>
  <div class="hero-bottom">
  <div class="hero-icons">
    <div class="hero-line"></div>
    <div class="icons">
      <a href="">
        <img src="/img/icons/linkedin.svg" alt="" />
      </a>
      <a href="">
        <img src="/img/icons/github.svg" alt="" />
      </a>
      <a href="">
        <img src="/img/icons/email.svg" alt="" />
      </a>
    </div>
    <p>mario-ramirez@hotmail.de</p>
    </div>
    <div class="scroll-down">
      <p>scroll down</p>
      <img src="/img/icons/scroll-down.svg" alt="Scroll Down">
    </div>
  
  </div>
  
  
</section>
