<section>
    <div>
        <div>
        </div>
        <div></div>
        <div></div>
    </div>


    <div>
        <div>
            <h3>My Skills</h3>
            <div class="line"></div>
        </div>
        <div>
            <span>Show that you have used a variety of  front-end technologies in your projects.</span>
            <p>Looking for another skill?</p>
            <span>Reveal enthusiasm for learning new technologies and frameworks.</span>
            <button>Learn More</button>
        </div>
    </div>

</section>