@use '../../../../styles/components/buttons' as *;
@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.myskills {
  @include flexbox(row, space-between, start);
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  .myskill-background {
    position: absolute;
    left: -550px;
    top: 100px;
    z-index: -1;


    img {
      object-position: top;
    }
  }

  .icon-skills {
    @include flexbox($wrap: wrap);
    margin-left: 70px;
    height: 400px;

    .icon {
      @include flexbox(column, center, center, $gap: 12px);
      width: calc(25% - 12px);

      .image-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        transition: 0.3s ease;

        &:hover {
          transform: translateY(-15px);
        }
      }
    }

    .continually-icon {
      position: relative;
      text-align: center;

      img {
        position: absolute;
        left: 50%;
        top: 58px;
        transform: translateX(-50%);
        transition: 0.2s ease;
      }



      .base {
        z-index: 1;
      }

      .white {
        opacity: 0;
        z-index: 2;
      }

      .bubble {
        opacity: 0;
        transform: translate(-25%, -100px);
        z-index: 0;
      }

      &:hover {
        .white {
          opacity: 1;
        }

        .bubble {
          opacity: 1;
        }
      }

      p {
        position: relative;
        top: 45px;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 120%;
      }
    }
  }

  .myskills-container {
    @include flexbox(column, center, flex-end, $gap: 30px);
    width: 500px;
    margin-top: 30px;

    .titel-myskills-container {
      @include flexbox(row, flex-end, center, $gap: 30px);

      h3 {
        font-size: 90px;
        font-weight: 700;
        font-style: normal;
        line-height: 120%;
        padding-bottom: 20px;
      }

      .line {
        @include flexbox;
        margin-top: -50px;
        border-radius: 4px 0px 0px 4px;
        height: 4px;
        width: 68px;
        background-color: $secondary-color;
      }
    }

    .myskills-container-text {
      @include flexbox(column, $gap: 25px);
      text-align: end;
      padding-right: 100px;

      span {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 120%;
      }

      p {
        font-size: 32px;
        font-weight: 700;
        font-style: bold;
        line-height: 120%;

        .highlight {
          font-size: 32px;
          font-weight: 700;
          font-style: bold;
          line-height: 120%;
          color: $secondary-color;
        }
      }
    }
  }

  button {
    margin-right: 95px;
  }
}




@media screen and (max-width: 1348px) and (min-width: 981px) {
  .myskills {
    padding: 0 40px;

    .icon-skills {
      margin-left: 0;
      flex: 1;
      max-width: 550px;
    }

    .myskills-container {
      width: 420px;
      margin-top: 20px;
      gap: 20px;

      .titel-myskills-container {
        gap: 20px;

        h3 {
          font-size: 64px;
          padding-bottom: 10px;
        }

        .line {
          margin-top: -30px;
          width: 50px;
        }
      }

      .myskills-container-text {
        padding-right: 0;
        gap: 15px;

        p {
          font-size: 24px;

          .highlight {
            font-size: 24px;
          }
        }
      }
    }

    button {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 980px) {
  .second-text {
    font-size: 16px;
    padding-left: 20px;
  }

  .titel-p {
    top: 120px;
  }



  .myskills {
    margin: 250px auto;
    @include flexbox(column, center, center);
    margin-bottom: 100px;

    .myskill-background {
      right: 550px;
      img {
        width: 800px;
      }
    }

    .icon-skills {
      max-width: 360px;
      width: 100%;
      gap: 18px;
      margin-left: 0;
      justify-content: center;


      .icon {
        max-width: 90px;

        .image-icon {
          width: 48px;
          height: 48px;
        }
      }

      .continually-icon {
        top: -37px;
        margin-bottom: -58px;

        p {
          font-size: 16px;
        }

        img {
          width: 48px;
          height: 48px;
        }

        .bubble {
          transform: translate(-25%, -120px);
          width: 150px;
          height: 150px;
        }
      }
    }

    .myskills-container {
      width: 100%;
      align-items: center;
      text-align: center;


      .titel-myskills-container {
        position: relative;
        top: -580px;
        justify-content: center;
        text-align: end;

        h3 {
          font-size: 45px;
        }

        .line {
          width: 24px;
          height: 3px;
        }
      }

      .myskills-container-text {
        position: relative;
        margin-top: -150px;
        padding: 20px;
        width: 100%;

        p {
          font-size: 24px;
        }


        .highlight {

          span {
            font-size: 24px;
          }
        }
      }
    }

    button {
      margin-right: 0;
      font-size: 16px;
      height: 48px;
      width: 158px;
    }
  }
}