<section>
    <div class="legal-notice-header">
        <div class="small-line"></div>
        <h1>{{ 'LEGAL.TITLE' | translate }}</h1>
        <div class="big-line"></div>
    </div>
  
  <div class="legal-notice-content">
    <h2>{{ 'LEGAL.IMPRINT' | translate }}</h2>
  <p [innerHTML]="'LEGAL.ADDRESS' | translate"></p>

  <h2>{{ 'LEGAL.CONTACT' | translate }}</h2>
  <p>
    {{ 'LEGAL.EMAIL' | translate }}<br>
    {{ 'LEGAL.PHONE' | translate }}
  </p>

  <h2>{{ 'LEGAL.RESPONSIBLE' | translate }}</h2>
  <p [innerHTML]="'LEGAL.ADDRESS' | translate"></p>
  </div>
</section>

