<section>
    <div class="legal-notice-header">
        <div class="small-line"></div>
        <h1>Impressum</h1>
        <div class="big-line"></div>
    </div>
  
  <div class="legal-notice-content">
    <h2>Impresum</h2>
  <p>
    Mario Ramirez<br>
    Torfmoos 27<br>
    22415 Hamburg<br>
    Deutschland
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: [deine E-Mail]<br>
    Telefon: [optional]
  </p>

  <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
  <p>
    Mario Ramirez<br>
    Torfmoos 27<br>
    22415 Hamburg<br>
    Deutschland
  </p>
  </div>
</section>

