@use '../../../styles/components/buttons' as *;
@use '../../../styles/abstracts/variables' as *;

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 200px auto;
  padding: 0 25px;

  .back-button {
    display: none;
    align-self: flex-end;
    margin-bottom: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    img {
      width: 39px;
      height: 39px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .legal-notice-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 70px;

    .small-line {
      height: 4px;
      width: 100px;
      background-color: $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .big-line {
      height: 4px;
      width: 550px;
      background-color: $secondary-color;
    }

    h1 {
      font-size: 50px;
      font-weight: 900;
      color: $border-color;
    }
  }

  .legal-notice-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 1000px;

    h2 {
      margin-top: 30px;
      font-size: 20px;
      color: $secondary-color;
    }
  }
}

@media (max-width: 830px) {
  section {
    padding: 0 25px;
   
    .back-button {
      display: block;
    }

    .legal-notice-header {
     
      margin-bottom: 40px;

      .small-line {
        display: none;
      }

      .big-line {
        width: 100%;
        max-width: 71px;
      }

      h1 {
        font-size: 32px;
        text-align: center;
      }
    }

    .legal-notice-content {
      width: 100%;
      align-items: start;
      text-align: start;

      h2 {
        font-size: 23px;
      }

      p,
      span,
      a,
      li {
        font-size: 16px;
      }
    }
  }
}