@use '../../../styles/components/buttons' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

section {
  @include flex-center(column);
  max-width: 1440px;
  margin: 200px auto;
  padding: 0 25px;

  .legal-notice-header {
    @include flex-layout(row, flex-end, center, 20px);
    width: 100%;
    margin-bottom: 70px;

    .small-line {
      height: 4px;
      width: 100px;
      background-color: $secondary-color;
      @include flex-center;
    }

    .big-line {
      height: 4px;
      width: 550px;
      background-color: $secondary-color;
    }

    h1 {
      font-size: 50px;
      font-weight: 900;
      color: $border-color;
    }
  }

  .legal-notice-content {
    @include flex-layout(column, flex-start, flex-start, 20px);
    width: 1000px;

    h2 {
      margin-top: 30px;
      font-size: 20px;
      color: $secondary-color;
    }
  }
}

@include respond-to(830px) {
  section {
    padding: 0 25px;

    .legal-notice-header {
      margin-bottom: 40px;

      .small-line {
        display: none;
      }

      .big-line {
        width: 100%;
        max-width: 71px;
      }

      h1 {
        font-size: 32px;
        text-align: center;
      }
    }

    .legal-notice-content {
      width: 100%;
      align-items: start;
      text-align: start;

      h2 {
        font-size: 23px;
      }

      p,
      span,
      a,
      li {
        font-size: 16px;
      }
    }
  }
}